<section class="s-extra">
  <div class="row">
    <div class="col-seven md-six tab-full popular">
      <h3>Popular Posts</h3>
      <div class="block-1-2 block-m-full popular__posts">

        <% cachedPosts.forEach((post) => {%>
        <article class="col-block popular__post">
          <a href="/blogs/<%= post.slug %>" class="popular__thumb">
            <img src="/blogs/<%= post.image %>" alt="">
          </a>
          <h5><%= post.title %></h5>
          <section class="popular__meta">
            <span class="popular__author"><span>By</span> <a href="#0"><%= post.user.name %></a></span>
            <span class="popular__date"><span>on</span> <time datetime="2018-06-14"><%= post.createdAt.toLocaleDateString('en-US', { day: 'numeric' ,
              month: 'long' , year: 'numeric' }) %></time></span>
          </section>
        </article>
        <% }) %>

      </div>
    </div>
    <div class="col-four md-six tab-full end">
      <div class="row">
        <div class="col-six md-six mob-full categories">
          <h3>Categories</h3>
          <ul class="linklist">
            <% myData.forEach((category) => {%>
            <li><a href="/category/<%= category.slug %>"><%= category.name %></a></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-six md-six mob-full sitelinks">
          <h3>Site Links</h3>
          <ul class="linklist">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="s-footer">
  <div class="s-footer__main">
    <div class="row">
      <div class="col-six tab-full s-footer__about">
        <h4>About Us</h4>
        <p>We're a team of writers, developers, and travelers who are passionate about exploring new destinations and discovering innovative software. Our goal is to share our knowledge and experiences with others who share our interests. Thanks for visiting our blog, and feel free to get in touch if you have any questions or comments!</p>
      </div>

    </div>
  </div>
  <div class="s-footer__bottom">
    <div class="row">
      <div class="col-six">
        <ul class="footer-social">
          <li>
            <a href="https://www.instagram.com/turgutsalgin"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://github.com/turgut5534"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/turgut-salgin-4b8a211a4/"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"></a>
  </div>
</footer>

<script src="/js/iziToast.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<script>
  Fancybox.bind("[data-fancybox]", {
  // Your custom options
});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
  integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
  data-cf-beacon='{"rayId":"7bdde06ecd1750e7","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.3.0","si":100}'
  crossorigin="anonymous"></script>
</body>

</html>