<%- include('../../partials/head' , { title: 'Add Photo/s' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Add Photo/s
                            </div>
                        </div>
                    </div>
                    <form action="/admin/gallery/photo/save" method="POST" class="blog-form" enctype="multipart/form-data">

                        <input type="hidden" name="id" value="<%= album.id %>">

                        <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input multiple type="file" id="photo-input" name="image" class="form-control" required accept="image/*">

                        </div>

                        <div class="preview-image-box mb-3"></div>

                        <button type="submit" class="btn btn-primary">Save</button>

                    </form>

                </div>
            </main>

            <%- include('../../partials/footer') %>