<%- include('../../partials/head' , { title: 'Albums' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid mt-4">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Albums
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#addAlbumModal">
                                +Add
                            </button>
                        </div>
                    </div>

                    <div class="row albums">

                        <% if(albums.length) { %>
                            <% albums.forEach((album)=> { %>
                                <div class="col-md-3 mb-4 album-<%= album.id %>">
                                    <a href="/admin/gallery/<%= album.slug %>">
                                        <div class="card">
                                            <% if (album.album_photos.length) { %>
                                                <img style="height:400px; object-fit: contain;margin-top: 20px;" src="/gallery/<%= album.album_photos[0].photo.filename %>" class="card-img-top"
                                                    alt="...">
                                                <button data-id="<%= album.id %>" data-title="<%= album.name %>" type="button" class="remove-image-btn remove-album" style="position: absolute; top: 5px; right: 5px;" >X</button>
                                            <% } else {%>
                                                <img style="height:400px; object-fit: contain; margin-top: 20px;" src="/img/nophoto.png" class="card-img-top"
                                                alt="...">
                                            <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">
                                                    <%= album.name %>
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                        <% }else { %>
                            <p>No album</p>
                        <% } %>
                    </div>
                </div>
            </main>

            <%- include('../../partials/footer') %>