<%- include('../../partials/head' , { title: 'Photos' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid mt-4">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Photos of <span class="text-primary"><%= album.name %></span>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <a class="btn btn-success" href="/admin/gallery/<%= album.slug %>/add">
                                +Add
                            </a>
                        </div>
                    </div>

                    <div class="row albums">

                        <% if(albumPhotos.length) { %>
                            <% albumPhotos.forEach((album)=> { %>
                                <div class="col-md-3 mb-4 album-<%= album.id %>">
                                    <a href="javascript:;">
                                        <div class="card">
                                            <img style="background-color: #cfcccc;object-fit: contain; height: 400px;" src="/gallery/<%= album.photo.filename %>" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title text-center text-dark">
                                                    <%= album.photo.filename %>
                                                </h5>
                                            </div>
                                        </div>

                                    </a>
                                </div>
                                <% }) %>
                                    <% }else { %>
                                        <p>No photos in <span class="text-primary"><%= album.name %></span> album</p>
                                        <% } %>
                    </div>
                </div>
            </main>

            <%- include('../../partials/footer') %>