<%- include('../partials/head' , { title: 'Categories' }) %>
    <%- include('../partials/header') %>

        <section class="s-content s-content--top-padding">
            <div class="row narrow">
                <div class="col-full s-content__header" data-aos="fade-up">
                    <h1 class="display-1 display-1--with-line-sep">Category: <%= theCategory.name %></h1>
                    <!-- <p class="lead">Dolor similique vitae. Exercitationem quidem occaecati iusto. Id non vitae enim quas
                        error dolor maiores ut. Exercitationem earum ut repudiandae optio veritatis animi nulla qui
                        dolores.</p> -->
                </div>
            </div>
            <div class="row entries-wrap add-top-padding wide">
                <div class="entries">
                    <% if(posts.length) { %>
                        <% posts.forEach((post) => { %>
                            <article class="col-block">
                                <div class="item-entry" data-aos="zoom-in">
                                    <div class="item-entry__thumb">
                                        <a href="/blogs/<%= post.slug %>" class="item-entry__thumb-link">
                                            <img src="/blogs/<%= post.image %>" alt="">
                                        </a>
                                    </div>
                                    <div class="item-entry__text">
                                        <div class="item-entry__cat">
                                            <a href="category.html"><%= post.post_categories.map(c => c.category.name).join(',') %></a>
                                        </div>
                                        <h1 class="item-entry__title"><a href="/blogs/<%= post.slug %>"><%= post.title %></a></h1>
                                        <div class="item-entry__date">
                                            <a href="/blogs/<%= post.slug %>"><%= post.createdAt.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                    <% }) %>
                  <% } else{ %>
                        <p>No post in this category</p>
                  <% } %>
                </div>
            </div>
            <div class="row pagination-wrap">
                <div class="col-full">
                  <nav class="pgn" data-aos="fade-up">
                    <ul>
                      <% if(currentPage > 1) { %>
                      <li><a class="pgn__prev" href="/category/<%= theCategory.slug %>?page=<%= currentPage - 1 %>">Prev</a></li>
                      <% } %>
                      <% for(let i = 1; i <= totalPages; i++) { %>
                      <% if(i === currentPage) { %>
                      <li><span class="pgn__num current"><%= i %></span></li>
                      <% } else { %>
                      <% if(i > currentPage - 3 && i < currentPage + 3) { %>
                      <li><a class="pgn__num" href="/category/<%= theCategory.slug %>?page=<%= i %>"><%= i %></a></li>
                      <% } else if(i === currentPage - 3 || i === currentPage + 3) { %>
                      <li><span class="pgn__num dots">…</span></li>
                      <% } %>
                      <% } %>
                      <% } %>
                      <% if(currentPage < totalPages) { %>
                      <li><a class="pgn__next" href="/category/<%= theCategory.slug %>?page=<%= currentPage + 1 %>">Next</a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
              
        </section>

        <%- include('../partials/footer') %>