<%- include('../partials/head' , { title: blog.title }) %>
    <%- include('../partials/header') %>

        <section class="s-content s-content--top-padding s-content--narrow">
            <article class="row entry format-standard">
                <div class="entry__media col-full">
                    <div class="entry__post-thumb text-center">
                        <img src="/blogs/<%= blog.image %>" alt="">
                    </div>
                </div>
                <div class="entry__header col-full">
                    <h1 class="entry__header-title display-1">
                        <%= blog.title %>
                    </h1>
                    <ul class="entry__header-meta">
                        <li class="date"><%= blog.createdAt.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></li>
                        <li class="byline">
                            By
                            <a href="#0"><%= blog.user.name %></a>
                        </li>
                    </ul>
                </div>
                <div class="col-full entry__main">

                    <% blog.contents.forEach((content) => { %>
                    <p class="text-center">
                        <img class="blog-content-image" src="/blogs/<%= content.image %>" alt="">
                    </p>
                    <p><%= sanitizeHtml(content.content, {allowedTags: [], allowedAttributes: {}}) %></p>

                    <% }) %>
                  
                    <div class="entry__author">
                        <img src="/users/<%= blog.user.image %>" alt="">
                        <div class="entry__author-about">
                            <h5 class="entry__author-name">
                                <span>Posted by</span>
                                <a href="#0"><%= blog.user.name %></a>
                            </h5>
                            <div class="entry__author-desc">
                                <p><%= blog.user.about %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="s-content__entry-nav">
                <div class="row s-content__nav">
                    <div class="col-six s-content__prev">
                        <a href="/blogs/<%= previousPost.slug %>" rel="prev">
                            <span>Previous Post</span>
                            <%= previousPost.title %>
                        </a>
                    </div>
                    <div class="col-six s-content__next">
                        <a href="/blogs/<%= nextPost.slug %>" rel="next">
                            <span>Next Post</span>
                            <%= nextPost.title %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="comments-wrap">
                <div id="comments" class="row">
                    <div class="col-full">
                        <h3 class="h2 comment-count"><%= blog.comments.length %> Comments</h3>

                        <ol class="commentlist">

                            <% if (blog.comments) { %>
                                <% blog.comments.forEach((comment) => { %>
                                    <li class="depth-1 comment">
                                        <div class="comment__avatar">
                                            <img class="avatar" src="https://ui-avatars.com/api/?length=1&name=<%= comment.commenter %>" alt="" width="50" height="50">
                                        </div>
                                        <div class="comment__content">
                                            <div class="comment__info">
                                                <div class="comment__author"><%= comment.commenter %></div>
                                                <div class="comment__meta">
                                                    <div class="comment__time"><%= comment.createdAt.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></div>
                                                    <div class="comment__reply">
                                                        <a class="comment-reply-link" href="#0">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment__text">
                                                <p><%= comment.content %></p>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                           <% } %>
                        </ol>

                    </div>
                </div>
                <div class="row comment-respond">

                    <div id="respond" class="col-full">
                        <h3 class="h2">Add Comment <span>Your email address will not be published</span></h3>
                        <form id="comment-form" method="post" action="/comment" autocomplete="off">
                            <input type="hidden" name="postId" value="<%= blog.id %>">
                            <fieldset>
                                <div class="form-field">
                                    <input name="commenter" id="cName" class="full-width" placeholder="Your Name*" value=""
                                        type="text">
                                </div>
                                <div class="form-field">
                                    <input name="email" id="cEmail" class="full-width" placeholder="Your Email*"
                                        value="" type="text">
                                </div>
                                <div class="message form-field">
                                    <textarea name="content" id="cMessage" class="full-width"
                                        placeholder="Your Message*"></textarea>
                                </div>
                                <input name="submit" id="submit" class="comment-button btn btn--primary btn-wide btn--large full-width"
                                    value="Add Comment" type="submit">
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <%- include('../partials/footer') %>