<%- include('../partials/head' , { title: 'Categories' }) %>
    <%- include('../partials/header') %>

        <section class="s-content s-content--top-padding">
            <div class="row entries-wrap add-top-padding wide">
                <div class="entries">
                    <% if (albums.length) { %>
                        <% albums.forEach((album) => { %>
                            <article class="col-block">
                                <div class="item-entry" data-aos="zoom-in">
                                    <div class="item-entry__thumb">
                                        <% if (album.album_photos.length) { %>
                                        <a href="/gallery/<%= album.slug %>" class="item-entry__thumb-link">
                                            <img src="/gallery/<%= album.album_photos[0].photo.filename %>" alt="">
                                        </a>
                                        <% } else {%>
                                            <a href="/gallery/<%= album.slug %>" class="item-entry__thumb-link">
                                                <img src="/img/nophoto.png" alt="">
                                            </a>
                                        <% } %>
                                    </div>
                                    <div class="item-entry__text">
                                        <div class="item-entry__cat">
                                           
                                        </div>
                                        <h1 class="item-entry__title"><a href="/gallery/<%= album.slug %>"><%= album.name %></a></h1>
                                        <div class="item-entry__date">
                                            <a href="/gallery/<%= album.slug %>"><%= album.createdAt.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        <% }) %>
                    <% } else { %>
                            <p>No album</p>
                    <% } %>
                </div>
            </div>




            <div class="row pagination-wrap">
                <div class="col-full">
                  <nav class="pgn" data-aos="fade-up">
                    <ul>
                      <% if(currentPage > 1) { %>
                      <li><a class="pgn__prev" href="/category/<%= theCategory.slug %>?page=<%= currentPage - 1 %>">Prev</a></li>
                      <% } %>
                      <% for(let i = 1; i <= totalPages; i++) { %>
                      <% if(i === currentPage) { %>
                      <li><span class="pgn__num current"><%= i %></span></li>
                      <% } else { %>
                      <% if(i > currentPage - 3 && i < currentPage + 3) { %>
                      <li><a class="pgn__num" href="/category/<%= theCategory.slug %>?page=<%= i %>"><%= i %></a></li>
                      <% } else if(i === currentPage - 3 || i === currentPage + 3) { %>
                      <li><span class="pgn__num dots">…</span></li>
                      <% } %>
                      <% } %>
                      <% } %>
                      <% if(currentPage < totalPages) { %>
                      <li><a class="pgn__next" href="/category/<%= theCategory.slug %>?page=<%= currentPage + 1 %>">Next</a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
        </section>

        <%- include('../partials/footer') %>