<%- include('../partials/head' , { title: 'Homepage' }) %>
    <%- include('../partials/header') %>

        <section class="s-featured">
            <div class="row">
                <div class="col-full">
                    <div class="featured-slider featured" data-aos="zoom-in">
                        <% blogs.forEach((blog)=> { %>
                        <div class="featured__slide">
                            <div class="entry">
                                <div class="entry__background"
                                    style="background-image:url('/blogs/<%= blog.image %>');">
                                </div>
                                <div class="entry__content">
                                    <span class="entry__category"><a href="/blogs/<%= blog.slug %>"><%= blog.post_categories.map(c => c.category.name).join(',') %></a></span>
                                    <h1><a href="/blogs/<%= blog.slug %>" title=""><%= blog.title %></a></h1>
                                    <div class="entry__info">
                                        <a href="/blogs/<%= blog.slug %>" class="entry__profile-pic">
                                            <img class="avatar" src="/users/<%= blog.image %>" alt="">
                                        </a>
                                        <ul class="entry__meta">
                                            <li><a href="#0"><%= blog.user.name %></a></li>
                                            <li><%= blog.createdAt.toLocaleDateString('en-US', { day: 'numeric' ,
                                                month: 'long' , year: 'numeric' }) %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                    </div>
                </div>
            </div>
        </section>

        <section class="s-content">
            <div class="row entries-wrap wide">
                <div class="entries">

                    <% blogs.forEach((blog)=> { %>
                        <article class="col-block">
                            <div class="item-entry" data-aos="zoom-in">
                                <div class="item-entry__thumb">
                                    <a href="/blogs/<%= blog.slug %>" class="item-entry__thumb-link">
                                        <img src="/blogs/<%= blog.image %>" alt="">
                                    </a>
                                </div>
                                <div class="item-entry__text">
                                    <div class="item-entry__cat">
                                        <a href="category.html">Design</a>
                                    </div>
                                    <h1 class="item-entry__title"><a href="single-standard.html">
                                            <%= blog.title %>
                                        </a></h1>
                                    <div class="item-entry__date">
                                        <a href="single-standard.html">
                                            <%= blog.createdAt.toLocaleDateString('en-US', { day: 'numeric' ,
                                                month: 'long' , year: 'numeric' }) %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <% } ) %>

                </div>
            </div>
            <div class="row pagination-wrap">
                <div class="col-full">
                  <nav class="pgn" data-aos="fade-up">
                    <ul>
                      <% if (currentPage === 1) { %>
                      <li class="disabled"><a class="pgn__prev" href="#0">Prev</a></li>
                      <% } else { %>
                      <li><a class="pgn__prev" href="?page=<%= currentPage - 1 %>">Prev</a></li>
                      <% } %>
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                          <li><span class="pgn__num current"><%= i %></span></li>
                        <% } else { %>
                          <li><a class="pgn__num" href="?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                      <% } %>
                      <% if (currentPage === totalPages) { %>
                      <li class="disabled"><a class="pgn__next" href="#0">Next</a></li>
                      <% } else { %>
                      <li><a class="pgn__next" href="?page=<%= currentPage + 1 %>">Next</a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
              
        </section>

        <%- include('../partials/footer') %>